<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="PairTimer">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div ng-view></div>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/angular-route.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/PairTimerController.js"></script>
  </body>
</html>
